body {
  background-color: black;
  color: #fafafa; }

h2 {
  font-size: 5vw;
  text-align: center;
  padding: 5vw; }

h4 {
  text-align: center;
  font-size: 4vw; }

.touch {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center; }

a {
  text-decoration: none;
  color: #fafafa; }
  a:hover {
    color: #fafafa; }

.m {
  display: flex;
  flex-direction: column; }
  .m:hover {
    transform: scale(1.008); }

.a {
  display: flex;
  justify-content: center;
  align-items: center; }
  .a img, .a h4 {
    padding: 3vw; }

#logo {
  padding-top: 10vw; }

#dedo {
  width: 30vw;
  padding: 3vw; }

.marca {
  width: 30vw;
  padding: 5vw; }

#accesorios {
  height: 80vh; }

#acc {
  padding-top: 5vw;
  display: flex;
  justify-content: center;
  align-items: center; }

#marcas {
  padding-top: 3vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center; }

@media (max-width: 680px) {
  #dedo {
    width: 30vw;
    height: auto; }
  #logo {
    padding-top: 10vh; }
  #marcas {
    padding-top: 3vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; }
  .no {
    display: none; }
  #accesorios {
    height: 50vh; } }
