body{
    background-color: rgb(0, 0, 0);
    color: rgb(250, 250, 250);
}
h2{
    font-size: 5vw;
    text-align: center;
    padding: 5vw;
}
.touch{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
