@media (max-width: 680px){
    #dedo{
        width: 30vw;
        height: auto;
    }
    #logo{
        padding-top: 10vh;
    }
    #marcas{
        padding-top: 3vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        justify-items: center;
    }
    .no{
        display: none;
    }
    #accesorios{
        height: 50vh;
    }
}