@media (max-width: 680px){
    #in{
        
    }
    h5{
        text-align: center;
        font-size: 4vw;
        font-family: 'Lora', serif;   
    }
    #dedo{
        width: 30vw;
        height: auto;
    }
    #logo{
        padding-top: 10vh;
    }
    #marcas{
        padding-top: 3vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        justify-items: center;
    }
    #hannabach{
        padding: 1vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        justify-items: center;
    }
    .marca{
        width: 40vw;
        padding: 5vw;
    }
    .no{
        display: none;
    }
    #accesorios{
        height: 50vh;
    }
}