
#acc{
    padding-top: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#marcas{
    padding-top: 3vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center;
}
#hannabach{
    padding-top: 3vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    justify-items: center;
}